profiles
{
    local
    {
        process
        {
            executor = 'local'
            memory = '1G'
            withLabel: 'multithreaded' {
                cpus = 1
            }
        }
    }
    local_test
    {
        process
        {
            executor = 'local'
            memory = '.8G'
            withLabel: 'multithreaded' {
                cpus = 1
            }
        }
    }

}
